<div class="crm-shell">
  <crm-header
    [sidenavOpened]="sidenavOpened"
    (menuToggle)="toggleSidenav()"
  ></crm-header>

  <mat-sidenav-container class="crm-sidenav-container">
    <mat-sidenav
      class="crm-sidenav"
      [opened]="sidenavOpened"
      mode="side"
      [fixedInViewport]="true"
      [fixedTopGap]="64"
    >
      <crm-sidebar></crm-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="crm-content">
      <main class="crm-main">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
